extends layout

block content
  for item in items
    a(href=`/details/${item.id}`)
      h1= item.title
      img(src=`${item.image_url}`)
    for author in item.authors
      h2= author.name
    -names = item.genres.map(genre => genre.name)
    -names = names.filter( (element, index, array) => !array.slice(0, index).includes(element))
    for name in names
      h3= name
