extends layout

block content
  for book in books
    a(href=`/details/${book.id}`)
      h1= book.title
      img(src=`${book.image_url}`)
    for author in book.authors
      h2= author.name
    -names = book.genres.map(genre => genre.name)
    -names = names.filter( (element, index, array) => !array.slice(0, index).includes(element))
    for name in names
      h5= name
